<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header">
	<meta charset="UTF-8">
	<title>Create Post</title>
</head>
<body>
<nav th:insert="fragments/navbar"></nav>
<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
	<label>Title:
		<input th:field="*{title}">
	</label>
	<label>Body:
		<input th:field="*{body}">
	</label>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<footer th:insert="fragments/footer"></footer>
</body>
</html>