<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header">
	<meta charset="UTF-8">
	<title>Edit Post</title>
</head>
<body>
<nav th:insert="fragments/navbar"></nav>
<form th:action="@{#}" th:method="post" th:object="${post}">
	<label><span th:text="${titleLabel}">Title: </span>
		<input th:field="*{title}" th:value="${post.getTitle()}" >
	</label>
	<label><span th:text="${bodyLabel}">Body: </span>
		<input th:field="*{body}" th:value="${post.getBody()}" >
	</label>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<footer th:insert="fragments/footer"></footer>
</body>
</html>